
/* Global is size from 300px */



body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
}

header {
  background-color: #0a3641;
  width: 100%;
  min-height: 90px;
  position: sticky;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

.rdlogo {
  min-height: 60px;
  margin-left: 20px;
  padding-top: 15px;
}

.fa-angle-down {
  color: white;
  font-size: 1.3rem;
  margin-right: 40px;
  padding-top: 38px;
}

nav {
  position: absolute;
}

nav a {
  display: flex;
  flex-direction: column;
  text-align: center;
  top: 31px;
  right: 63px;
  padding: 10px 30px;
  position: relative;
  background-color: #0a3641;
  border: solid #062730 1px;
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

.homeimgbig,
.home-newin-big {
  display: none;
}

.homeimg {
  height: auto;
  width: 100%;
}

.hometext {
  color: #0a3641;
  text-align: center;
  margin-top: -20px;
  margin-bottom: -25px;
}

.hometext h1 {
  font-weight: 500;
  font-size: 1.5rem;
}

.hometext p {
  font-weight: 300;
  font-size: 1rem;
}

.learnmore-btn {
  border: none;
  color: #ffffff;
  border-radius: 25px;
  background-color: #f7993c;
  height: 35px;
  width: 140px;
  font-weight: 100;
  font-size: 1rem;
  box-shadow: 2px 3px 2px #bbbbbbc5;
  margin-top: 5px;
}

.home-newin-mobile,
.hometext {
  padding: 20px 5px;
}

h2 {
  color: #0a3641;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 10px;
}

.cardsimg {
  text-align: center;
  display: flex;
  justify-content: center;
}

.cardsimg .fa-solid {
  font-size: 3rem;
  color: #9e9c9ca4;
  padding-top: 100px;
}

.cardsimg .fa-angle-right {
  padding-left: 15px;
}

.fa-angle-left {
  padding-right: 15px;
}

.cardsimg img {
  height: auto;
  max-width: 100%;
}

.cardstext {
  font-size: 1rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
}

.jacketprice {
  margin-top: -10px;
}

.cardstext .fa-heart {
  font-size: 1.5rem;
  color: #4a93a5;
}

.fa-heart {
  margin-top: 15px;
  padding-left: 10px;
}

.jackettext {
  padding-right: 100px;
}

p.seemore {
  font-size: 1rem;
  font-weight: 300;
  text-align: right;
}

footer {
  background-color: #0a3641;
  width: 100%;
  min-height: 200px;
}

.footerwrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.footertext {
  font-size: 0.6rem;
  font-weight: 300;
  text-align: left;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 15px;
}

.footertext a {
  display: flex;
  flex-grow: 5;
  padding-top: 7px;
}

.footertext-bold {
  font-weight: 500;
}

.footerimg img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 15px 0px;
}

footer {
  grid-area: footer;
}

@media (min-width: 480px) {
  .home-newin-mobile {
    padding: 25px 30px;
  }
}

@media (min-width: 600px) {
  .footertext {
    font-size: 0.8rem;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 25px;
  }
}

@media (min-width: 700px) {
  nav {
    display: block;
    position: static;
  }

  .headerchild .fa-angle-down {
    display: none;
  }

  nav a {
    display: inline;
    font-size: 0.9rem;
    top: 45px;
    right: 7px;
    background-color: none;
    border: none;
    margin-left: -30px;
  }

  .rdlogo {
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .home-newin-mobile {
    display: none;
  }

  .homeimg {
    display: none;
  }

  .homeimgbig {
    display: block;
    height: auto;
    width: 100%;
  }

  .hometext {
    color: white;
    text-align: left;
    width: 24%;
    margin-top: -320px;
    left: 480px;
    position: absolute;
  }

  .hometext h1 {
    line-height: 30px;
  }

  .hometext p {
    font-size: 0.9rem;
    line-height: 21px;
  }

  .learnmore-btn {
    box-shadow: 2px 3px 2px #131313bd;
    font-size: 0.9rem;
    height: 30px;
    width: 120px;
  }

  .home-newin-big {
    display: block;
  }

  .home-newin-big {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 10px 70px;
  }

  .cardstextbig {
    display: flex;
    justify-content: space-between;
  }

  .cardsimgbig img {
    height: auto;
    max-width: 75%;
  }

  .cardsimgbig {
    text-align: center;
  }

  .homeh2 {
    font-size: 1.7rem;
    padding-left: 40px;
    padding-top: 40px;
  }

  .cardstextbig {
    font-size: 0.8rem;
    font-weight: 100;
    display: flex;
    justify-content: center;
  }

  .jackettextbig {
    margin-right: 25px;
  }

  .fa-heart-big {
    margin-left: 8px;
    margin-top: 2px;
    font-size: 1.5rem;
    color: #4a93a5;
  }

  .jacketnamebig {
    margin-top: 4px;
  }

  .jacketpricebig {
    margin-top: -8px;
  }

  .seemorebig {
    padding-top: 10px;
    padding-bottom: 30px;
  }

  
}

@media (min-width: 800px) {
  .jackettextbig {
    margin-right: 45px;
  }

 
  .hometext {
    width: 29%;
    margin-top: -300px;
    left: 520px;
  }
}

@media (min-width: 850px) {
  .jackettextbig {
    margin-right: 55px;
  }

 
  .hometext {
    margin-top: -330px;
    left: 560px;
  }
}

@media (min-width: 900px) {
  .jackettextbig {
    font-size: 1rem;
  }

 
  .hometext {
    margin-top: -370px;
    left: 600px;
  }

  .hometext h1 {
    font-size: 1.8rem;
  }
  
  .hometext p, .learnmore-btn {
    font-size: 1.1rem;
  }

  .learnmore-btn {
    height: 35px;
    width: 140px;
  }
}

@media (min-width: 1000px) {

  .hometext {
    margin-top: -380px;
    left: 650px;
  }

  .jackettextbig {
    margin-right: 85px;
  }
}

@media (min-width: 1100px) {

  .hometext {
    margin-top: -400px;
    left: 740px;
  }
}

@media (min-width: 1100px) {

  .hometext {
    left: 740px;
  }
}

@media (min-width: 1200px) {

  .hometext {
    left: 830px;
  }
}

@media (min-width: 1300px) {

  .hometext {
    left: 870px;
  }
}

@media (min-width: 1400px) {

  .hometext {
    left: 920px;
  }

  .jackettextbig {
    margin-right: 95px;
  }
}

@media (min-width: 1600px) {

  .hometext {
    left: 1300px;
    margin-top: -600px;
  }

  .jackettextbig {
    margin-right: 95px;
  }
}