/* Global is size from 300px */

body {
  background-color: #f5f5f5;
  font-family: "Roboto", sans-serif;
}

header {
  background-color: #0a3641;
  width: 100%;
  min-height: 90px;
  position: sticky;
  display: flex;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: white;
}

.rdlogo {
  min-height: 60px;
  margin-left: 20px;
  padding-top: 15px;
}

.fa-angle-down {
  color: white;
  font-size: 1.3rem;
  margin-right: 40px;
  padding-top: 38px;
}

.headerchild {
  position: relative;
}

nav {
  position: absolute;
  right: 0;
  top: 90px;
}

nav a {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 10px 30px;
  position: relative;
  background-color: #0a3641;
  border: solid #062730 1px;
}

nav,
#menu-checkbox {
  display: none;
}

#menu-checkbox:checked ~ nav {
  display: block;
}

.homeimgbig,
.home-newin-big {
  display: none;
}

.homeimg {
  height: auto;
  width: 100%;
}

.hometext {
  color: #0a3641;
  text-align: center;
  margin-top: -20px;
  margin-bottom: -25px;
}

.hometext h1 {
  font-weight: 500;
  font-size: 1.5rem;
}

.hometext p {
  font-weight: 300;
  font-size: 1rem;
}

.learnmore-btn {
  border: none;
  color: #ffffff;
  border-radius: 25px;
  background-color: #f7993c;
  height: 35px;
  width: 140px;
  font-weight: 100;
  font-size: 1rem;
  box-shadow: 2px 3px 2px #bbbbbbc5;
  margin-top: 5px;
  cursor: pointer;
}

.home-newin-mobile,
.hometext {
  padding: 20px 5px;
}

h2 {
  color: #0a3641;
  font-size: 1.5rem;
  font-weight: 500;
  padding-bottom: 10px;
}

.cardsimg {
  text-align: center;
  display: flex;
  justify-content: center;
}

.cardsimg .fa-solid {
  font-size: 3rem;
  color: #9e9c9ca4;
  padding-top: 100px;
}

.cardsimg .fa-angle-right {
  padding-left: 15px;
}

.fa-angle-left {
  padding-right: 15px;
}

.cardsimg img {
  height: auto;
  max-width: 100%;
  cursor: pointer;
}

.cardstext {
  font-size: 1rem;
  font-weight: 100;
  display: flex;
  justify-content: center;
  color: black;
  cursor: pointer;
}

.jacketprice {
  margin-top: -10px;
}

.cardstext .fa-heart {
  font-size: 1.5rem;
  color: #4a93a5;
}

.cardstext .fa-heart {
  margin-top: 15px;
  padding-left: 10px;
}

.jackettext {
  padding-right: 100px;
}

p.seemore {
  font-size: 1rem;
  font-weight: 300;
  text-align: right;
}

footer {
  background-color: #0a3641;
  width: 100%;
  min-height: 200px;
}

.footerwrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin-top: 50px;
}

.footertext {
  font-size: 0.6rem;
  font-weight: 300;
  text-align: left;
  color: white;
  margin-left: 10px;
  margin-right: 10px;
  padding-top: 15px;
}

.footertext a {
  display: flex;
  flex-grow: 5;
  padding-top: 7px;
}

.footertext-bold {
  font-weight: 500;
}

.footerlogoimg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  padding: 15px 0px;
}

footer {
  grid-area: footer;
}

/* back arrow */
.backarrow {
  color: black;
  margin-top: 30px;
}

.backarrowleft {
  margin-right: -7px;
  padding-top: 15px;
}

/* about section */

.aboutmain,
.backtitle {
  padding: 0px 15px;
}

.abouttext {
  padding: 10px 0px;
}

.abouttext p {
  font-weight: 300;
  font-size: 1rem;
}

.abouttext h3 {
  font-weight: 500;
  font-size: 1.2rem;
}

.aboutimg {
  height: auto;
  width: 100%;
  padding: 10px 0px;
}

/* contact section */

.contacttext {
  font-weight: 300;
  font-size: 1rem;
}

.forminput input {
  width: 70%;
}

.forminput textarea {
  width: 90%;
}

.forminput input,
.forminput textarea {
  padding: 8px 5px;
  margin: 0;
  box-sizing: border-box;
  border: none;
  box-shadow: 0 0 4px #4a93a5;
}

#file {
  box-shadow: none;
}

.forminput {
  padding-bottom: 15px;
}

.forminput label {
  font-weight: 500;
  font-size: 1rem;
  display: flex;
  margin: 10px 0px;
}

.forminput ::placeholder {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  color: #494c4d9c;
}

.forminput p {
  font-weight: 300;
  font-size: 0.7rem;
  color: #4a93a5;
}

.submitbtn {
  border: none;
  color: #ffffff;
  border-radius: 8px;
  background-color: #4a93a5;
  height: 35px;
  width: 140px;
  font-weight: 100;
  font-size: 1rem;
  box-shadow: inset 6px 6px 20px #9be0f1a0;
  margin-bottom: 10%;
}

.submitbtn:hover {
  box-shadow: inset 6px 6px 20px #30606ca0;
}

/* shop section */

.wrapperselect {
  display: flex;
  justify-content: space-between;
}

select {
  color: white;
  background-color: #4a93a5;
  border: none;
  width: 20%;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1rem;
}

.wrappershop {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.wrappershop .cardsimg img {
  max-width: 70%;
  margin-bottom: -8px;
}

.wrappershop .jackettext {
  padding-right: 10px;
}

.wrappershop .cardstext .fa-heart {
  margin-top: 15px;
  padding-left: 10px;
}

.wrappershop .cardstext {
  padding-bottom: 10px;
}

/* thankyou section */

.fa-circle-check {
  color: #f7993c;
  font-size: 6rem;
}

.tymain {
  padding: 30px 15px;
}

.tytext,
.notready {
  text-align: center;
}

.tytext h1 {
  color: #062730;
  font-size: 2rem;
}

.tytext h2 {
  color: #062730;
  font-size: 1.2rem;
}

.tytext p {
  font-size: 1rem;
  font-weight: 300;
  padding: 25px 0px;
}

.ordersum {
  font-weight: 500;
  font-size: 1rem;
}

.sumimgtext {
  display: flex;
  width: 300px;
  padding-bottom: 20px;
}

.sumimgtext img {
  width: 60%;
  padding-right: 10px;
}

.sumimgtext2 {
  width: 100%;
}

.sumtitle {
  font-weight: 500;
  font-size: 1rem;
  padding-bottom: 30px;
}

.suminfo,
.sumprice {
  font-weight: 300;
  font-size: 1rem;
}

.sumprice {
  padding-top: 30px;
}

.total {
  display: flex;
  justify-content: space-between;
  font-weight: 300;
  font-size: 1rem;
}

.totalcloser {
  margin-top: -20px;
}

.totalblack {
  font-weight: 500;
}

.nr1 {
  font-size: 1.2rem;
  padding-top: 30px;
  padding-bottom: 10px;
}

.goto {
  border: none;
  border-radius: 10px;
  height: 40px;
  width: 250px;
  font-weight: 100;
  font-size: 1rem;
  box-shadow: 2px 3px 2px #bbbbbbc5;
  cursor: pointer;
}

.moreinspo {
  color: white;
  background-color: #4a93a5;
}

.gotohome {
  color: #4a93a5;
  background-color: white;
  border: solid;
  border-color: #4a93a5c4;
  margin-top: 15px;
}

.nr2 {
  font-size: 1.1rem;
  padding-top: 20px;
}

.fa-brands {
  font-size: 3rem;
  padding-right: 10px;
}

.fa-facebook-square {
  color: #3b5998;
}

.fa-twitter-square {
  color: #00acee;
}

.fa-instagram-square {
  color: #bc2a8d;
}

.some {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.gotocontact {
  color: white;
  background-color: #0a3641;
}

/* Jacketname section */

.grid {
  grid-template-columns: repeat(3, 1fr);
  
}

.left {
  grid-template-rows: repeat(3, 1fr);
  width: 100%;
  height: 100%;
}

.left img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.aboutjn h3 {
  color: #0a3641;
  font-size: 1.3rem;
  font-weight: 500;
}

.h3ptext {
  color: #0a3641;
  font-size: 1rem;
  font-weight: 300;
}

.pris {
  font-size: 1rem;
  padding-bottom: 30px;
  font-weight: 500;
}

.colsiz {
  font-weight: 500;
  font-size: 1rem;
}

.colordots {
  font-size: 1.7rem;
  cursor: pointer;
}

.red {
  color: rgb(186, 6, 6);
}

.blue {
  color: rgb(26, 26, 131);
}

.green {
  color: rgb(6, 59, 22);
}

.brown {
  color: rgb(84, 25, 25);
}

.yellow {
  color: rgb(234, 194, 47);
}

.sizestext {
  display: flex;
  font-weight: 300;
  font-size: 1rem;
  justify-content: space-between;
  cursor: pointer;
}

.save, .cart {
  border: none;
  border-radius: 20px;
  font-size: 1rem;
  box-shadow: 2px 3px 2px #bbbbbbc5;
  cursor: pointer;
  margin-top: 10px;
}

.save .fa-heart, .cart .fa-bag-shopping {
  font-size: 1.3rem;
  color: #00acee;
}

.save {
  height: 40px;
  width: 120px;
  background-color: #0a3641;
  color: white;
  margin-right: 5px;
}

.cart {
  height: 40px;
  width: 160px;
  background-color: #f7993c;
  color: white;
}

/* checkout section */

.method {
  border: solid #4a93a5c4 2px;
  border-radius: 10px;
  padding: 10px 0px;
  margin: 10px 0px;
}

.method label {
  font-weight: 300;
}


@media (min-width: 480px) {
  .home-newin-mobile {
    padding: 25px 30px;
  }
}

@media (min-width: 600px) {
  .footertext {
    font-size: 0.8rem;
    margin-left: 30px;
    margin-right: 30px;
    padding-top: 25px;
  }
}

@media (min-width: 700px) {
  nav {
    display: block;
    position: static;
  }

  .headerchild .fa-angle-down {
    display: none;
  }

  nav a {
    display: inline;
    top: 45px;
    right: 7px;
    background-color: transparent;
    border: none;
    margin-left: -30px;
  }

  .rdlogo {
    margin-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .home-newin-mobile {
    display: none;
  }

  .homeimg {
    display: none;
  }

  .backtitle {
    display: block;
  }

  .homeimgbig {
    display: block;
    height: auto;
    width: 100%;
  }

  .homefirst {
    position: relative;
  }

  .hometext {
    color: white;
    text-align: left;
    position: absolute;
    top: 50%;
    left: 75%;
    transform: translate(-25%, -50%);
  }

  .hometext h1 {
    line-height: 30px;
  }

  .hometext p {
    line-height: 21px;
  }

  .learnmore-btn {
    box-shadow: 2px 3px 2px #131313bd;
    height: 30px;
    width: 120px;
  }

  .home-newin-big {
    display: block;
  }

  .home-newin-big {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 10px 70px;
    width: 60vw;
    margin: 0 auto;
  }

  .cardsimgbig {
    width: 100%;
  }

  .homeh2 {
    font-size: 1.5rem;
    padding-left: 40px;
    padding-top: 40px;
  }

  .cardstextbig {
    font-weight: 100;
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .wrapperbig {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .fa-heart-big {
    margin-left: 8px;
    margin-top: 2px;
    font-size: 1.5rem;
    color: #4a93a5;
  }

  .jacketnamebig {
    margin-top: 4px;
  }

  .jacketpricebig {
    margin-top: -8px;
  }

  .seemorebig {
    padding-bottom: 30px;
  }

  /* about section */

  .aboutmain {
    padding: 0px 50px;
  }

  /* shop section */

  .mainshop h2 {
    display: none;
  }

  .backtitle h2 {
    display: block;
  }

  .wrappershop {
    grid-template-columns: repeat(3, 1fr);
  }

  .wrappershop .cardsimg img {
    max-width: 50%;
  }

  /* thankyou section */
  .tymain {
    padding: 0px 50px;
    margin-bottom: 70px;
  }

  .tytext {
    padding-top: 50px;
  }

  .notready,
  .ordersum {
    padding-top: 40px;
  }

  .nr2 {
    padding: 15px 0px;
  }
}

@media (min-width: 800px) {
  .learnmore-btn {
    height: 35px;
    width: 140px;
  }
}

@media (min-width: 900px) {
  footer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }

  .footerlogoimg {
    width: 25%;
    padding-top: 50px;
  }

  .footerwrapper {
    margin-top: 0px;
  }

  /* about section */

  .aboutmain {
    padding: 0px 130px;
  }

  .aboutimg {
    height: auto;
    width: 70%;
  }

  .backtitle {
    padding-left: 45px;
    padding-top: 30px;
  }

  /* shop section */

  .wrappershop {
    grid-template-columns: repeat(4, 1fr);
  }

  .wrappershop .cardsimg img {
    max-width: 40%;
  }

  /* thankyou section */
  .tymain {
    padding: 0px 130px;
  }

  .tytext {
    padding-top: 70px;
  }

  .fa-circle-check {
    font-size: 9rem;
  }
}

@media (min-width: 1200px) {
  nav a {
    top: 45px;
    right: 30px;
    margin-left: -10px;
  }

  .rdlogo {
    margin-left: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .hometext h1 {
    line-height: 50px;
  }

  .hometext p,
  .learnmore-btn {
    line-height: 25px;
  }

  .learnmore-btn {
    height: 45px;
    width: 170px;
  }

  /* about section */

  .aboutmain {
    padding: 0px 200px;
  }

  .aboutimg {
    height: auto;
    width: 70%;
  }

  .backtitle {
    padding-left: 75px;
    padding-top: 50px;
  }

  /* contact section */

  .forminput input {
    width: 50%;
  }

  .forminput textarea {
    width: 70%;
  }

  /* thankyou section */
  .tymain {
    padding: 0px 200px;
  }
}

@media (min-width: 1500px) {
  .hometext p {
    padding: 10px 0px;
    line-height: 30px;
    font-size: 1.2rem;
  }

  .learnmore-btn {
    font-size: 1.2rem;
    height: 50px;
    width: 190px;
  }

  .hometext h1 {
    font-size: 2rem;
    line-height: 60px;
  }

  .cardstextbig {
    padding-top: 10px;
  }

  .fa-heart-big {
    font-size: 2rem;
  }

  /* about section */

  .aboutmain {
    padding: 0px 250px;
  }

  .aboutimg {
    height: auto;
    width: 70%;
  }

  .backtitle {
    padding-left: 75px;
    padding-top: 50px;
  }

  .forminput input,
  .forminput textarea {
    padding: 12px 10px;
  }
  /* thankyou section */
  .tymain {
    padding: 0px 250px;
  }

  .fa-circle-check {
    font-size: 12rem;
  }
}
